img.center {
    position: fixed;
    top: 45%;
    left: 45%;
}

html,body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.full {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
