<!doctype html>
<html lang="en" >
    <head>
        <script src="/assets/lib/components/angular/angular.min.js"></script>
        <script src="/assets/lib/components/requirejs/require.js"></script>
        <script src="/assets/main.js"></script>
        <link rel="stylesheet" type="text/css" href="/assets/main.css" />
        <link rel="stylesheet" type="text/css" href="/assets/lib/literallycanvas/literallycanvas-0.3-rc4/css/literally.css" />
        <link rel="icon"
              type="image/png"
              href="/assets/images/favicon.png" />
    </head>
    <body>

        <div data-ng-view class="full"></div>

    </body>
</html>